<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>addmultipleproducts</name>
    <displayName><![CDATA[Add Multiple Products to the Cart]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[PrestaShop module that enables selecting multiple products then adding all of them to the cart.]]></description>
    <author><![CDATA[Andrei H]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>